* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-card {
  width: 400px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.signup-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #444;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.input-group input:focus {
  border-color: #4a90e2;
}

.signup-btn {
  width: 100%;
  padding: 12px;
  border: none;
  background: #0f766e;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.login-text {
  text-align: center;
  margin-top: 15px;
}

.login-text a {
  text-decoration: none;
  color:purple;
}